.menu
{
    margin: 50px;
}

.content
{
    margin: 0 auto;
    max-width: 1400px;
}

.dishes
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    column-gap: 10px;
    row-gap: 30px;
}